@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ncifbf');
  src:  url('fonts/icomoon.eot?ncifbf#iefix') format('embedded-opentype'),
    url('..fonts/icomoon.ttf?ncifbf') format('truetype'),
    url('fonts/icomoon.woff?ncifbf') format('woff'),
    url('fonts/icomoon.svg?ncifbf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e900";
}
.icon-bell-o:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e906";
}
.icon-star-full:before {
  content: "\e902";
}
.icon-shopping-cart:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
